/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

label.checkbox-inline.no-indent {
    margin-left: 0px;
    margin-right: 10px;
}

#login-first-error {
    text-align: center;
}

html {
    height: 100%;
}

#access-site {
    display: flex;
    align-items: center;
    height: 100%;
}

.access-site {
    height: 100%;
}

#content {
    height: 100%;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.game-image {
    border: thin solid red;
    height: 100px;
}

.flex-right {
    display: flex;
    justify-content: flex-end;
}

body {
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

#left-header {
    height: 50px;
    width: 500px;
    display: flex;
    align-items: center;
}

#left-header img {
    height: 100%;
    width: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

#site-name {
    color: grey;
    font-family: 'Permanent Marker', cursive;
    padding: 0px;
    margin: 0px;
    margin-right: 10px;
}

#main-navbar {
    border-radius: 0px;
}

#query {
    border-radius: 20px;
    margin-right: 10px;
}

#search-button {
    border-radius: 20px;
    width: 35px;
    padding-left: 10px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.center.row {
    width: 100%;
    height: 100%;
}

.center form {
    width: 100%;
}

.search-center {
    height: 100%;
}

.search-rows {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
}

@import "bootstrap"
