/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 /* UTILITIES */

.full-height {
    height: 100%;
}

/* GAME NEW */

label.checkbox-inline.no-indent {
    margin-left: 0px;
    margin-right: 10px;
}

#login-first-error {
    text-align: center;
}

html {
    height: 100%;
}

#access-site {
    display: flex;
    align-items: center;
    height: 100%;
}

.access-site {
    height: 100%;
}

#content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 52px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

/* TABLE STYLING */

table tr td a {
    display: block;
    height: 100%;
    width: 95%;
    text-decoration: none;
    color: black;
}

table tr td a:hover {
    text-decoration: none;
    color: black;
}

table tr td.leftmost-column {
    padding-right: 0 !important;
}

.middle-column {
    text-align: center;
}

table tr td.middle-column {
    padding-left: 0 !important;
    padding-right: 0 !important;
    text-align: center;
}

.rightmost-column {
    text-align: right;
}

table tr td.rightmost-column {
    text-align: right;
    padding-left: 0 !important;
}

body {
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

#left-header {
    height: 50px;
    width: 500px;
    display: flex;
    align-items: center;
}

#left-header img {
    height: 100%;
    width: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

#site-name {
    color: grey;
    font-family: 'Permanent Marker', cursive;
    padding: 0px;
    margin: 0px;
    margin-right: 10px;
}

#main-navbar {
    border-radius: 0px;
}




/* SEARCH STYLING */

.search-center {
    height: 100%;
    overflow: hidden;
}

.center {
    height: 100%;
}

#create-new-game {
    border-radius: 20px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
    display: block; 
    width: 165px;
}

.search-rows {
    position: relative;
    top: 50%;
    height: 100%;
}

.search-rows.searched {
    top: 10px;
    transition: 1s ease;
    bottom: 0;
}

#search-field-wrapper {
    margin-right: 10px;
    width: 90%;
    display: inline-block;
    position: relative;
}

#search-field-wrapper .form-group {
    margin-bottom: 0px;
}

.row.advanced-search-row {
    padding-top: 10px;
    margin-left: 0px;
    margin-right: 0px;
}

/*#first-advanced-search-row {
    margin-top: 10px;
}*/

.row.advanced-search-row:first-child {
    margin-top: 7px;
}

.row.advanced-search-row:last-child {
    margin-bottom: 7px;
}

.advanced-search-row label {
    margin-top: 7px;
}

#advanced-search-wrapper-div {
    padding-top: 20px;
    border-left: thin solid #CCC;
    border-right: thin solid #CCC;
    border-bottom: thin solid #CCC;
    position: relative;
    top: -20px;
}

#query {
    border-radius: 20px;
    z-index: 10;
    position: relative;
}

#caret {
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: 20;
}

.flipped {
    transform: rotateY(180deg);
    transition: 0.6s;
    transform-style: preserve-3d;

}

#search-button {
    border-radius: 20px;
    z-index: 0;
    width: 33px;
    position: absolute;
    top: 0px;
    right: -50px;
}

#magnifying-glass {
    left: -3px;
}

#search-relative {
    position: relative;
    height: 100%;
}

#results {
    height: 80%;
    overflow: auto;
}

/* GAME SHOW PAGE */

#game-show {
    height: 100%;
    overflow: hidden;
}

#navigate-to-search {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 50%;
}

#navigate-to-search a {
    border: none;
    text-align: right;
}

#game-show-main {
    position: relative;
    height: 100%;
    overflow: auto;
}

.game-image {
    width: 100%;
    height: auto;
}

#dropdown-genres {
    overflow-y: auto;
    max-height: 210px;
    padding-top: 5px;
    padding-left: 30px;
    top: inherit;
    left: inherit;
}

@import "bootstrap"

