<div class="errors"></div>

<form>
    <input
        type="text"
        id="name"
        name="name"
        placeholder="User Name"
        value="<%= user.name %>">

    <input 
        type="password"
        id="password"
        name="password"
        placeholder="Password"
        value="">

    <button><%= button_text %></button>

</form>