<div class="errors"></div>

<form>
    <input
        type="text"
        id="name"
        name="name"
        placeholder="User Name"
        value="<%= user.name %>">

    <input 
        type="password"
        id="password"
        name="password"
        placeholder="Password"
        value="">

    <% if (button_text === "Sign Up") { %>
        <input 
            type="password"
            id="password2"
            placeholder="Type your password again"
            value="">
    <% } %>

    <button><%= button_text %></button>

</form>