<div 
    id="new-game-modal"
    class="modal fade"
    role="dialog"
    aria-labelledby="newGame"
    aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button 
                        type="button" 
                        class="close" 
                        data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only">Close</span>
                    </button>
                    <h2>Add a New Game</h2>
                </div>

                <div class="modal-body">


<div class="errors"></div>

<form>
    <div class="row">
        <div class="form-group col-sm-6">
            <label for="name">Name</label>
            <input 
                type="text"
                class="form-control"
                id="name"
                name="name">
        </div>
        
        <div class="form-group col-sm-6">
            <label for="game_type">Type</label>
            <select 
                class="form-control"
                id="game_type"
                name="game_type">
                <option></option>
                <option value="Board">Board Game</option>
                <option value="Video">Video Game</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-sm-12">
            <label for="photo">Add Photo</label>
            <input 
                type="file"
                class="photo-upload form-control"
                name="photo"
                id="photo">
        </div>
    </div>

    <div class="row">
        <div class="form-group col-sm-12">
            <label for="genre">Genre</label>
            <div>
                <% RabbleReviews.genres.each( function (genre) { %>
                    <label class="checkbox-inline no-indent">
                        <input 
                            type="checkbox"
                            class="genre"
                            value="<%= genre.escape('name') %>"> <%= genre.escape("name") %>
                    </label>
                <% }) %>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-sm-2">
            <label for="min-players">Min Players</label>
            <div>
                <input 
                    type="number"
                    class="form-control"
                    step="1"
                    min="1"
                    id="min-players"
                    name="min-players"> 
            </div>
        </div>

        <div class="form-group col-sm-2">
            <label for="max-players">Max Players</label>
            <input 
                type="number"
                class="form-control"
                step="1"
                min="1"
                id="max-players"
                name="max-players"> 
        </div>

        <div class="form-group col-sm-3">
            <label for="released">Year Released</label>
            <input
                type="number"
                class="form-control"
                id="released"
                name="released">
        </div>
    </div>
</form>


                </div>

                <div class="modal-footer">
                    <button class="btn btn-primary" id="submit">Add Game</button>
                </div>
            </div>
        </div>
</div>