<nav 
    id="main-navbar"
    class="navbar navbar-default navbar-inverse"
    role="navigation">
<div class="container-fluid">
    
    <div 
        class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
        <% if (currentUser) { %>
            <li><a href="#games"><%= currentUser.name %></a></li>
            <li><a href="#logout">Sign Out</a></li>
        <% } else { %>
            <li><a href="#">Sign In</a></li>
            <li><a href="#users/new">Sign Up</a></li>
        <% } %>
        </ul>
    </div>
<div 
    id="navbar-items" 
    class="collapse navbar-collapse" >

</div>
</div>
</nav>