
<div class="col-sm-6 col-sm-offset-3 center">

<div class="search-rows">

    <form id="search-box">
            <input 
                type="text"
                id="query"
                class="form-control"
                placeholder="Search for Games">

            <button id="search-button" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span>
            </button>

    </form>
    <div id="advanced-search"></div>

    <div class="search-errors"></div>

    <div id="results"></div>
</div>

</div>



